

body {
    font-family: 'Roboto Mono';
}

.arabic-text {
    font-family: 'Amiri Quran', serif;
    direction: rtl;
    text-align: right;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-variant-ligatures: contextual;
}

.arabic-surah-text {
    font-family: 'Amiri Quran', serif;
    direction: rtl;
    text-align: right;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-variant-ligatures: contextual;
}

.latin-text {
    font-family: 'Noto Sans', serif;
    direction: ltr;
    text-align: left;
}
