

body {
    font-family: 'Roboto Mono';
}

.arabic-text {
	font-family: 'Amiri Quran', serif;
	direction: rtl;
	text-align: right;
}

.latin-text {
    font-family: 'Noto Sans', serif;
    direction: ltr;
    text-align: left;
}
